<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>892915706062-9efkljekch9gfuh09hj1nt8njko94muq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.892915706062-9efkljekch9gfuh09hj1nt8njko94muq</string>
	<key>API_KEY</key>
	<string>AIzaSyCZ_Dc0ExWxoEnoGizvbST9C1nqK3yc-_I</string>
	<key>GCM_SENDER_ID</key>
	<string>892915706062</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hammy1290.Chatify</string>
	<key>PROJECT_ID</key>
	<string>chatify-32cef</string>
	<key>STORAGE_BUCKET</key>
	<string>chatify-32cef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:892915706062:ios:0d84b7329a2f6cd878c89f</string>
</dict>
</plist>